/* General Styles ------------------------ */
html, body {
	font-family:"Arial", sans-serif;
	font-size: 12px;
	background-color:#a4a4a4;
}

a:link {
	color:#666;
	text-decoration:none;
}
a:visited { color:#666; }
a:hover { 
	color:#999;
	text-decoration:underline;
}

.grid3 { width:220px; }	

.page-wrapper {
	background-color:#fff;
}
	
div.hdr-top { overflow:auto; }

a#logo { 
	float:left;
	background:url('../img/clarity-logo.png');
	background-size: cover;
	width:200px;
	height:50px;
	margin: 30px;
}

div.hdr-btm {
	padding:25px;
	background: #e2e3e3; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2e3e3 0%, #767676 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e3e3), color-stop(100%,#767676)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2e3e3 0%,#767676 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2e3e3 0%,#767676 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2e3e3 0%,#767676 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e2e3e3 0%,#767676 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e3e3', endColorstr='#767676',GradientType=0 ); /* IE6-9 */
}

nav#mobile-nav {
	position: absolute;
	width: 100%;
}
nav#mobile-nav ul { display: none; }
nav#mobile-nav ul li {
	border-bottom:1px solid #000;
}
nav#mobile-nav ul li a {
	padding: 1em;
	font-size: 14px;
	font-weight: 700;
	color:#000;
	background-color: #fed837;
	display:block;
	text-align:center;
}

div#feature_img img { margin:10px 0; width: 100%; }

div.main-content h2 { 
	font-size:22px;
	font-weight:700;
	margin-bottom: 10px;
}
div.main-content p {
	padding-top:10px;
	padding-bottom:40px;
	line-height: 1.25;
	color: #666;
}

div.side-item h3 {
	font-size:18px;
	font-weight:700;
}

ul#social_list {
	padding:0;
	margin:15px 0 5px;
}
ul#social_list li {
	display:inline;
	list-style-type:none;
}
ul#social_list li:nth-child(n+2) {
	margin-left:5px;
}

ul#ulink_list {
	margin-left: 1.2em;
}
ul#ulink_list li {
	margin:10px 0;
	font-size: 13px;
	color: #666;
}
ul#ulink_list li:before {
	content: '\f105';
	font-family: 'FontAwesome'
	display: inline-block;
	margin-left: -1.2em;
	width: 1.2em;
}

footer { 
	background-color:#e0e0e0;
}

ul#footer_nav {
	text-align:center;
	padding:10px 0;
} 
ul#footer_nav li {
	display:inline;
	list-style-type:none;
}
ul#footer_nav li a {
	color: #000;
	font-weight: 700;
}
ul#footer_nav li:nth-child(n+2):before {
	content:"|";
	padding:10px;
}

/* Smartphones / Mobile (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-width : 540px) {
	nav#top_nav:after {
		content:"\f0c9";
		font-family: FontAwesome;
		font-size: 40px;
	}
	nav#top_nav ul {
		display:none;
	}
	
	nav#top_nav { 
		position: absolute;
		right: 0;
		margin: 30px;
	}
	nav#top_nav:hover {
		cursor:pointer;
	}
	nav#top_nav ul {
		position: absolute;
		right: 0em;
		top: 3em;
		width: 100px;
	}
	nav#top_nav ul li { 
		margin: 3px 0;
		background-color: #666;
	}
	nav#top_nav ul li:hover { background-color: #333; }
	nav#top_nav ul li a  {
		padding: 1em;
		display: block;
		color: #efefef;
	}
	
	.main-content {
		padding:10px;
	}
	
	ul#emp_feature_img li img { width:100%; }
	
	div.side-item {
		margin-bottom:20px;
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 540px) {
	nav#top_nav {
		float:right;
		margin-top:65px;
	}
	nav#top_nav ul {
		display:block;
	}
	
	nav#top_nav ul li {
		display:inline;
		list-style-type:none;
	}
	nav#top_nav ul li:nth-child(n+2):before {
		content:"|";
		padding:10px;
	}
	
	ul#emp_feature_img li {
		display:inline;
		list-style-type:none;
	}	
	ul#emp_feature_img li:nth-child(n+2) {
		margin-left:20px;
	}
}

@media only screen 
and (min-width : 960px) {
	.grid960, .grid3, .grid8 {
		margin:0 auto;
		padding:0 10px;		
	}
	
	.grid8 { width:620px; }
	
	.push-lt { float:left; }
	.push-rt { float:right; }
	
	div.main-content { overflow:auto; padding:20px; }
	
	ul#emp_feature_img { padding:0; }
	
	div.side-item {
		border:1px solid #000;
		padding:10px;
		margin-bottom:20px;
	}
}

@media only screen 
and (min-width : 1024px) {
	.grid960 { width:960px;	}	
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {	
	.grid960, .grid3, .grid8 {
		margin:0 auto;
		padding:0 10px;		
	}
	
	.grid960 { width:960px;	}	
	.grid8 { width:620px; }
	
	.push-lt { float:left; }
	.push-rt { float:right; }

	nav#top_nav {
		float:right;
		margin-top:65px;
	}
	nav#top_nav ul {
		display:block;
	}
	
	nav#top_nav ul li {
		display:inline;
		list-style-type:none;
	}
	nav#top_nav ul li:nth-child(n+2):before {
		content:"|";
		padding:10px;
	}
	
	div#feature_img {
		background:url('../img/feature.png');
		background-size: cover;
		margin:10px 0;
		height:215px;
	}
	
	div.main-content { overflow:auto; padding:20px; }
	
	ul#emp_feature_img { padding:0; }
	ul#emp_feature_img li {
		display:inline;
		list-style-type:none;
	}	
	ul#emp_feature_img li:nth-child(n+2) {
		margin-left:20px;
	}
	
	div.side-item {
		border:1px solid #000;
		padding:10px;
		margin-bottom:20px;
	}
}