/* Mixins ============================================= */

@mixin breakpoint($media-width) {
  @media only screen and (min-width: #{$media-width}) { @content; }
}

/* Variables ========================================== */

$mid-small: 500px;
$end-small: 720px;
$max-width: 960px;

$grey-lt: #e2e3e3;
$grey-dk: #767676;
$gold: #fed837;

$primary: #666666;

$imgPath: '../img';

/* ==================================================== */

html, body {
	font-family:"Arial", sans-serif;
	font-size: 12px;
	background-color:#a4a4a4;
	color: $primary;
}

a {
    &:link {
	    color:$primary;
	    text-decoration:none;
    }
    &:visited { color:$primary; }
    &:hover { 
	    color:#999;
	    text-decoration:underline;
    }			
}

h2, h3 {
    color: #000;
}

.page-wrapper {
	margin:0 auto;
	padding:0 10px;	
	background-color: #fff;
    max-width:960px;
}

#logo { 
	background:url('#{$imgPath}/clarity-logo.png');
	background-size: cover;
	background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
	max-width:200px;
	height:50px;
	margin: 1.5rem;
	flex: 1 0 auto;
}

#nav-toggle {
    border: 0;
    background-color: transparent;
    font-size: 2em;
    
    &:hover, &:focus {
        outline: 0;
        cursor: pointer;
    }
    
    @include breakpoint($mid-small) {
        display: none;    
    }
}

#top_nav {
    display: none;
	position: absolute;
	width: 100%;
	top: 75px;
    left: 0;
	
	ul {
	    li {
	        border-bottom:1px solid #000;
	        
	        a {
	            padding: 1em;
	            font-size: 14px;
	            font-weight: 700;
	            background-color: $gold;
	            display:block;
	            text-align:center;
	        }
	    }
	}
	
	@include breakpoint($mid-small) {
		position: static;
		display: block !important;
		width: auto;
		
	    ul { 
	        display: flex;
            justify-content: flex-end;
            align-items: center;
	        
            li {
		        list-style-type:none;
		        border: 0;
		        
		        a {
		            background-color: transparent;
		            border-right: 1px solid $primary;
		            padding: .15em 1em;
		            font-weight: 400;
		        }
		        
		        &:last-of-type {
		            a {
		                border: 0;
		            }
		        }
	        }
	    }									
	}
}

#banner {
    img { margin:10px 0; width: 100%; }
}

.hdr-top { 
	overflow:auto;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.hdr-btm {
	padding:25px;
	background: $grey-lt; /* Old browsers */
	background: -moz-linear-gradient(top,  $grey-lt 0%, $grey-dk 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$grey-lt), color-stop(100%,$grey-dk)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $grey-lt 0%,$grey-dk 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $grey-lt 0%,$grey-dk 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $grey-lt 0%,$grey-dk 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $grey-lt 0%,$grey-dk 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$grey-lt}', endColorstr='#{$grey-dk}',GradientType=0 ); /* IE6-9 */
}

.main-content { 	
    h2 { 
    	font-size:22px;
    	font-weight:700;
    	margin-bottom: 10px;
    }
    					
    p {
    	padding-top:10px;
    	padding-bottom:40px;
    	line-height: 1.25;
    } 
    
    @include breakpoint($end-small) {
	    overflow:auto; 
	    padding:20px;
	    display: flex;
	    justify-content: space-between;
	    align-items: flex-start;
	    
	    > section {
	        max-width:620px;
	        margin-right: 3em;
	    }
	    
	    aside {
	        width:220px;
	        flex: 1 0 auto;
	    }
	}
}

#emp_feature_img {
    li {		
        margin: .5em;
        
        img {
            width: 100%;
            display: block;
        }
    }
    
    @include breakpoint($mid-small) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        
        li {
	        list-style-type:none;
	        width: 49%;
	    }									
    }
    
    @include breakpoint($max-width) {
        padding: 0;
    }
}

.side-item {
    margin-bottom: 2em;
    
    h3 {
	    font-size:18px;
	    font-weight:700;		
    }
    	
    @include breakpoint($end-small) {
        border:1px solid #000;
	    padding:10px;
	    margin-bottom:20px;
    }
}

#social_list {
	padding:0;
	margin:15px 0 5px;
	
	li {
	    display:inline;
	    list-style-type:none;	

        &:nth-child(n+2) {
            margin-left:5px;
        }
	}
}

#ulink_list {
	margin-left: 1.2em;
	
	li {
    	margin:10px 0;
    	font-size: 13px;

        &:before {
	        content: '\f105';
	        font-family: 'FontAwesome';
	        display: inline-block;
	        margin-left: -1.2em;
	        width: 1.2em;
        }
    }
}
											
footer { background-color:#e0e0e0; }

#footer_nav {
	text-align:center;
	padding:10px 0;
	
	li {
    	display:inline;
    	list-style-type:none;			
        								
        a {
	        color: #000;
	        font-weight: 700;
        }		

        &:nth-child(n+2) {
            &:before {
	            content:"|";
	            padding:10px;		
            }
        }
    }
}